# ===============================
# Traefik & Proxy (compose.yml)
# ===============================

APP_DOMAIN=cookbook.nemetz.de
TRAEFIK_NETWORK=traefik-network
TRAEFIK_CERT_RESOLVER=letsencrypt

# ===============================
# App
# ===============================

PORT=3000
APP_PORT=3000
